# Tipos de Operadores com Python

-----
## Operadores aritméticos
Os operadores aritméticos executam operações matemáticas, como adição, subtração com operandos.

In [16]:
#  Adição
print("Soma:",1 + 1)

# Subtração
print("Subtração:",10 - 2)

# Multiplicação
print("Multiplicação:",4 * 3)

#  Divsão
print("Divisão:",12 / 3)

# Divisão inteira
print("Divisão Inteira:",12 // 2)

#  Módulo
print("Módulo:",10 % 3)

# Exponenciação
print("Exponencial:",2 ** 3)

Soma: 2
Subtração: 8
Multiplicação: 12
Divisão: 4.0
Divisão Inteira: 6
Módulo: 1
Exponencial: 8

------
### Precedencia dos operadores

#### Na matemática
Na matemática existe uma regra que indica quais operações devem ser executadas primeiro. Isso é útili pois ao analisar uma expressão, a depender da ordem das operações o valor pode ser diferente:

x = 10 -5 * 2

x é igual a 10 ou 0?

Resposta: ZERO

------
<br>
A definição indica a seguinte ordem como a correta:

- Parêntesis
- Expoêntes
- Multiplicações e divisões (da esquerda para a dureita)
- Somas e subtrações (da esquerda para a direita)

In [17]:
print( 10 - 5 * 2)
print((10 - 5) * 2)
print(10 ** 2 * 2)
print(10 ** (2 * 2))
print(10 / 2 * 4)

0
10
200
10000
20.0

--------------
## Operadores de comparação

São operadores utilizados para comparar dois valores.

In [14]:
# Igualdade
saldo = 450
saque = 200

print(saldo == saque)

False

In [15]:
# Diferença
saldo = 450
saque = 200

print(saldo != saque)

True

In [16]:
# Maior que / maior ou igual
saldo = 450
saque = 200

print(saldo > saque)
print(saldo >= saque)

True
True

In [17]:
# Menor que / menor ou igual
saldo = 450
saque = 200

print(saldo < saque)
print(saldo <= saque)

False
False

-------
## Operadores de atribuição

São operadores utilizados para definir o valor inicial ou sobrescrever o valor de uma variável.

In [18]:
# Atribuição simples
saldo = 500
print(saldo)

500

In [7]:
# Atribuição com adição
saldo = 500
saldo += 200
print(saldo)

700

In [8]:
# Atribuição com Subtração
saldo = 500
saldo -= 100
print(saldo)

400

In [9]:
# Atribuição com multiplicação
saldo = 500
saldo *= 2

print(saldo)

1000

In [11]:
# Atribuição com Divisão
saldo = 500
saldo /= 5
print(saldo)

saldo = 500
saldo //= 5
print(saldo)

100.0
100

In [12]:
# Atribuição com módulo
saldo = 500
saldo %= 480

print(saldo)

20

In [13]:
# Atribuição com Exponenciação
saldo = 80
saldo **= 2
print(saldo)

6400

-----
## Operadores Lógicos

São Operadores utilizados em conjunto com os operadores de comparação, para montar uma expressão lógica. Quando um operador de comparação é utilizado, o resultado retornado é um booleano, dessa forma podemos combinar operadores de comparação com os operadores lógicos, exemplo:

op_comparacao + op_logico + op_comparacao...N..

In [20]:
saldo = 1000
saque = 200
limite = 100

print(saldo >= saque)
print(saque <= limite)

True
False

In [21]:
# Operador E
saldo = 1000
saque = 200
limite = 100

saldo >= saque and saque <= limite

False

In [22]:
# Operador OU
saldo = 1000
saque = 200
limite = 100

saldo >= saque or saque <= limite

True

In [27]:
# Operador Negação
contatos_emergencia = []

print(not 1000 > 1500)
print(not contatos_emergencia)
print(not "saque 1500;")
print(not "")

True
True
False
True

In [29]:
# Parênteses
saldo = 1000
saque = 250
limite = 200
conta_especial = True

print(saldo >= saque and saque <= limite or conta_especial and saldo >= saque)

print( (saldo >= saque and saque <= limite) or (conta_especial and saldo >= saque) )

True
True

In [30]:
# Tabela
print(True and True)
print(True and False)
print(True or True)
print(True or False)

True
False
True
True

------------
## Operadores de identidade
São operadores utilizados para comparar se os dois objetos testados ocupam a mesma posição na memória.

In [31]:
# Exemplo
curso = "Curso de Python"
nome_do_curso = curso
saldo, limite = 200, 200

print(curso is nome_do_curso)
print(curso is not nome_do_curso)
print(saldo is limite)

True
False
True

In [33]:
saldo = 1000
limite = 500

print(saldo is limite)
print(saldo is not limite)

False
True

-----------
## Operadores de associação

São operadores utilizados para verificar se um objeto está presente em uma sequência.

In [35]:
# Exemplo
curso = "Curso de Python"
frutas = ["laranja", "uva", "limão"]
saques = [1500, 100]

print("Python" in curso)
print("maça" not in frutas)
print(200 in saques)

True
True
False